# Configuration template for bmorph_tip304 script

# io section has path informatio
[io]
# base_path : top level path - note that python config files support substitution
base_path = /Users/nijssen/Dropbox/data/bpa

# nrni_file : nrni file
nrni_file = %(base_path)s/nrni/NRNI_20150318_clean_fixed_MRS-prepped-reformatted.nc

# version : data set version
version = streamflow-provisional_0.5

# model_path : path for model output
model_path = %(base_path)s/%(version)s/{GCM}_{scenario}-%(version)s

# raw_model_file_template : template for constructing model file names
raw_model_file_template = %(model_path)s/streamflow/{GCM}_{scenario}_{downscaling}_{hydro}_P{parameter_set}-{site}-%(version)s.csv

# out_path : output path for bias corrected files
out_path = %(base_path)s/%(version)s/bmorph_tip304_output

# outfile_template : template for constructing output file names
outfile_template = %(out_path)s/biascorrected_streamflow.{GCM}_{scenario}_{downscaling}_{hydro}_P{parameter_set}-{site}-biascorrected_%(version)s.csv

# outfile_float_format : format specifier for bias corrected streamflow values
outfile_float_format = .3f

# bmorph section has algorithmic information
[bmorph]
# n_smooth_short : smoothing interval in days when applying bmorph
n_smooth_short = 5

# n_smooth_long : smoothing interval in days when applying long-term correction
n_smooth_long = 365

# cdf_half_period : period in years for constructing the cdf that is mapped. The full period is 2 x cdf_half_period + 1
cdf_half_period = 15

# training_window : period used to construct mapping between truth and training
training_window = 1970-10-01, 2000-09-30

# bmorph_window : period on which bmorph is applied
bmorph_window = 1950-01-01, 2099-12-31

# reference_window : period used as the reference period for calculating % change
reference_window = 1970-10-01, 2000-09-30


# siteinfo section is used in the file_templates in the io section
[siteinfo]

# site : list of site IDs (one or more)
site = TDA, PRVO, LWG, LIB, GCL, PARW

# hydro : list of hydro models (one or more)
hydro = VIC

# parameter_set : list of parameter sets (one or more)
parameter_set = 1

# scenario : list of scenario  (one or more)
scenario = RCP85

# downscaling : list of downscaling methods (one or more)
downscaling = BCSD

# GCM : list of GCMs (one or more)
GCM = CCSM4
